// MOBILE

.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0.5rem 0.25rem 0.5rem;
    padding: 1rem 0.5rem 0.25rem 0.5rem;

    h1 {
        font-size: xx-large;
        margin: 0;
    }
}

.horizontal-card-list {
    display: flex;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
}

.vertical-card-list {
    display: flex;
    -webkit-overflow-scrolling:touch;
    overflow: none;
    flex-wrap: wrap;

    .custom-card-link {
        width: 100%;
    }
}

.custom-card-link {
    text-decoration: none;
    width: 90%;
    transition: $transition-base;
    border-radius: 5rem;    

    &:hover {
        transform: translateY(-3px);
        text-decoration: none;     
        .custom-card {
            box-shadow: $box-shadow-hover;
        }   
    }
}

.custom-card-link-featured {
    width: 90%;
}

.custom-card {
    transition: $transition-base;
    box-shadow: $box-shadow;
    cursor: pointer;
    border-radius: 5rem;
}

.article-image {
    height: 200px;
    background-size: cover;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);

        h6 {
            font-size: x-large;
        }
        
        p {
            margin: 0;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: small;
        }
    }
}

.card-info {
    display: flex;
    align-items: center;
    
    .article-profile-pic {
        min-width: 50px;
        width: 50px;
        height: 50px;
        border: 0.1rem solid $secondary;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        i {
            color: $secondary;
            background-color: $white;
            border: 2px solid $white;
            position: relative;
            margin-left: 33px;
            bottom: 20px;
            font-size: xx-small;
            border-radius: 50%;
        }
    }

    .trainer-profile-pic {
        min-width: 75px;
        width: 75px;
        height: 75px;
        border: 0.1rem solid $secondary;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        i {
            color: $secondary;
            background-color: $white;
            border: 2px solid $white;
            position: relative;
            margin-left: 55px;
            bottom: 25px;
            border-radius: 50%;
            font-size: x-small;
        }
    }

    .author-info {
        height: 50px;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;

        p, span {
            margin: 0;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            color: $gray-900;
            font-weight: bold;
        }
        
        span {
            font-size: small;
            color: $gray-500;
        }
    }

    .trainer-info {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        h6 {
            margin: 0;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
            color: $gray-900;
            // font-size: medium;
        }
        p {
            font-size: small;
            color: $gray-500;
            margin: 5px 0;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
        }
        span {
            font-size: small;
            display: none;
            &:first-child {
                display: inline-block;                
            }
        }
    }
}

.gym-card {
    height: auto;
    width: auto;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .gym-pic {
        width: 100%;
        height: 80px;

        img {
            max-height: 70px;
            max-width: 100%;
        }

    }

    h6 {
        margin: 0;
        color: $gray-900;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        margin: 10px 0;        
    }
    .gym-info {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;

        .gym-location {
            font-size: small;
            color: $gray-500;
        }
    }
}

// DESKTOP
@media (min-width: 650px) {

    .horizontal-card-list {
        overflow: none;
        flex-wrap: wrap;
    }

    .vertical-card-list {
    
        .custom-card-link {
            width: 33.33%;
        }

        .custom-card-link-featured {
            width: 50%;
        }
    }

    .custom-card-link {
        width: 33.33333%;
        .article-image {
            height: 200px;
        
            div {
                background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
                
                h6 {
                    margin-bottom: 1rem;
                }

                p {
                    margin: 0;
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: small;
                }
            }
        }

        .card-info {
            .article-profile-pic {
                min-width: 50px;
                width: 50px;
                height: 50px;
            }
        }
    }

    .custom-card-link-featured {
        width: 50%;
        .article-image {
            height: 300px;
            div {   
                h6 {
                    margin-bottom: 1rem;
                }             
                p {
                    display: inline-block;
                    white-space: normal; 
                    font-size: medium;
                }
            }
        }
    }
}
  